.container {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  margin-top: -80px;
  margin-bottom: -40px;
}

.tickets {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ticket {
  display: flex;
  min-width: 430px;
  flex-direction: column;
  align-items: center;
}

.ticket-list-header {
  display: flex;
  width: 235px;
  min-height: 30px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--bg-color-ticket-list-header);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.tickets-pending-number {
  width: 65px;
  background-color: var(--bg-color-tickets-pending-number);
  border-radius: 2px;
  text-align: center;
}

.users-average-service-time {
  color: var(--color-avarage-time-container);
  font-size: 18px;
  font-weight: bold;
}

.users-max-service-time {
  color: var(--color-max-time-container);
  font-size: 1.2rem;
  font-weight: bold;
}

.user-average-service-time {
  color: var(--color-user-avarage-time-container);
  font-size: 1.2rem;
  font-weight: bold;
}

.customersAmountUserServed {
  color: var(--color-served-customers-container);
  font-size: 1.2rem;
  font-weight: bold;
}

.ticket-header {
  color: var(--color-text-muted);
  font-size: 20px;
  font-weight: bold;
}

.tickets-amount {
  color: var(--color-text-contrast);
  font-size: 20px;
  font-weight: bold;
}
