.navbar-menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  margin-left: 0 !important;
}

.icon-button {
  border: 0;
  margin: 20px 10px;
  background-color: transparent;
  outline: none;
}

.icon-button:hover,
.icon-button:focus,
.icon-button:active {
  outline: none;
}

.icon-button:active {
  outline: none;
}

.navbar-menu-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.form-group {
  margin-top: 15px;
}

.navbar-menu-block .form-group .select {
  max-width: 100%;
  border: none;
  background-color: var(--bg-color-queue-page-header);
  box-shadow: none;
  color: #fff;
}
