.container {
  display: flex;
}

.container .key-input {
  padding: 10px;
  border: 0;
  border-bottom: 2px solid var(--color-phone-number-input-border);
  color: var(--color-text-muted);
  font-size: 48px;
  outline: none;
  text-align: center;
}

.remove-number-button {
  border: none;
  background: none;
}

.remove-number-button:focus {
  outline: none;
}

.remove-number-image {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
