.button-action,
.button-action:hover,
.button-action:active,
.button-action:focus {
  border: none;
  background-color: transparent;
  outline: none;
}

.modal-diolog {
  top: 50% !important;
  left: 50% !important;
  height: auto !important;
  transform: translate(-50%, -50%) !important;
}

.modal-delete-action-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-delete-action-button {
  width: 30%;
}
