.ticket-service-card {
  display: flex;
  min-width: 100%;
  height: 240px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--color-tickets-card-border);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-color-ticket-card);
  border-radius: 2px;
  box-shadow: 0 0 10px 0 var(--color-tickets-card-shadow);
}

.ticket-info {
  display: flex;
  justify-content: space-between;
}

.visit-purpose-contaner {
  max-width: 235px;
}

.ticket-number {
  display: flex;
  min-width: 90px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: var(--bg-color-ticket-number);
  border-radius: 2px;
}

.ticket-number span {
  color: var(--color-text-contrast);
  font-weight: bold;
}

.customer-phone-number {
  display: flex;
  justify-content: space-between;
}

.pending-time {
  display: flex;
  justify-content: space-between;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.external-integration-cards {
  display: flex;
  justify-content: flex-end;
}

.crm-link {
  padding: 10px 15px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: var(--bg-color-crm-container);
  border-radius: 2px;
  color: var(--color-text-contrast);
  font-size: 12px;
}

.abc-link {
  padding: 10px 15px;
  background: var(--bg-color-abc-container);
  border-radius: 2px;
  color: var(--color-text-contrast);
  font-size: 12px;
}

.crm-link:hover,
.crm-link:focus,
.crm-link:active {
  color: var(--color-text-contrast);
}

.abc-link:hover,
.abc-link:focus,
.abc-link:active {
  color: var(--color-text-contrast);
}

.new-customer {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  background: var(--bg-color-crm-container);
  border-radius: 2px;
}

.accepted-ticket-buttons {
  display: flex;
  justify-content: space-between;
}
