.user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-settings-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.setting-card-header {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.office-selector {
  margin-top: 20px;
  margin-bottom: 20px;
}

.set-button {
  margin-right: 20px;
  margin-left: 20px;
}
