.general-statistics {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}

.statistics-image {
  width: 30px;
  margin-right: 5px;
}

.card-statistics {
  display: flex;
  width: 250px;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-cards-container);
  border-radius: 7px;
  box-shadow: 0 4px 10px 1px var(--color-cards-container-border-shadow);
}

.card-statistics-info-container {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
}

.card-statistics-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avarage-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-avarage-time-container);
  border-radius: 0 0 7px 7px;
}

.max-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-max-time-container);
  border-radius: 0 0 7px 7px;
}

.user-avarage-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-user-avarage-time-container);
  border-radius: 0 0 7px 7px;
}

.served-customers-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-served-customers-container);
  border-radius: 0 0 7px 7px;
}
