.container {
  width: 100%;
  background-color: var(--bg-color-vertical-screen-container);
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

@media (min-width: 1900px) {
  .content {
    padding: 80px;
  }
}

.white-theme-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-theme-bg-color-vertical-screen-container);
}

.tickets-list-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ticketCard {
  margin-right: 10px;
  margin-left: 10px;
}

.tickets-list-header {
  display: flex;
  justify-content: space-around;
}

.ticket-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tickets-list-row .ticket-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: ticket-info;
}

.arrow {
  position: absolute;
  right: 45%;
}

@keyframes ticket-info {
  0% {
    background-color: var(--bg-color-vertical-screen-active-ticket-info);
  }
  50% {
    background-color: var(--bg-color-vertical-screen-ticket-info);
  }
  100% {
    background-color: var(--bg-color-vertical-screen-active-ticket-info);
  }
}

.tickets-list-row .white-theme-ticket-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: white-theme-ticket-info;
}

@keyframes white-theme-ticket-info {
  0% {
    background-color: var(
      --white-theme-bg-color-vertical-screen-active-ticket-info
    );
  }
  50% {
    background-color: var(--white-theme-bg-color-vertical-screen-ticket-info);
  }
  100% {
    background-color: var(
      --white-theme-bg-color-vertical-screen-active-ticket-info
    );
  }
}

.bottom-side {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid var(--color-border-top);
}

.white-theme-bottom-side {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid var(--white-theme-color-border-top);
}

.black {
  color: var(--color-text-default-screens-pages);
}

.white {
  color: var(--color-text-contrast);
}

.tv-accepted-tickets-data {
  font-family: var(--font-family-secondary);
  font-size: 4rem;
  font-weight: 800;
}

.tv-tickets-pending-data {
  font-family: var(--font-family-secondary);
  font-size: 3rem;
  font-weight: 800;
}

.tv-tickets-pending-data-header {
  font-family: var(--font-family-secondary);
  font-size: 3rem;
  font-weight: 800;
}

@media (min-width: 1900px) {
  .tv-accepted-tickets-data {
    font-family: var(--font-family-secondary);
    font-size: 20rem;
    font-weight: 800;
  }

  .tv-tickets-pending-data-header {
    font-family: var(--font-family-secondary);
    font-size: 15rem;
    font-weight: 800;
  }

  .tv-tickets-pending-data {
    font-family: var(--font-family-secondary);
    font-size: 20rem;
    font-weight: 800;
  }

  .tickets-list-header span {
    font-size: 10rem;
  }
}
