.incoming-ticket-card {
  display: flex;
  width: 340px;
  height: 110px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid var(--color-tickets-card-border);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-color-ticket-card);
  border-radius: 2px;
  box-shadow: 0 0 10px 0 var(--color-tickets-card-shadow);
}
