@font-face {
  font-family: ALSHauss;
  font-style: normal;
  font-weight: 800;
  src: local("ALSHaussBlack"),
    url("./fonts/ALS_Hauss_Black_1.1.otf") format("truetype");
}

@font-face {
  font-family: ALSHauss;
  font-style: normal;
  font-weight: 700;
  src: local("ALSHaussBold"),
    url("./fonts/ALS_Hauss_Bold_1.1.otf") format("truetype");
}

@font-face {
  font-family: ALSHauss;
  font-style: normal;
  font-weight: 600;
  src: local("ALSHaussSemiBold"),
    url("./fonts/ALS_Hauss_Medium_1.1.otf") format("truetype");
}

@font-face {
  font-family: ALSHauss;
  font-style: normal;
  font-weight: 500;
  src: local("ALSHaussRegular"),
    url("./fonts/ALS_Hauss_Regular_1.1.otf") format("truetype");
}
