@import "./vendor.css";
@import "./themes/default.css";

html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

ul {
  margin-bottom: 0 !important;
  margin-left: -40px !important;
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}

@media screen and (--viewport-sm-max) {
  html {
    font-size: 14px;
  }
}

:global [class^="theme"] {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--color-background);
}

:global [class^="theme"] > main {
  /* pages should have a minimum height of 100% to have an ability to vertically center the content */

  align-self: stretch;
}

/* bootstrap buttons */
:global(.btn-secondary) {
  border: 0 !important;
  background-color: var(--secondary-button-color) !important;
}

:global(.btn-secondary:hover) {
  background-color: var(--secondary-active-button-color) !important;
}

:global(.btn-secondary:active) {
  background-color: var(--secondary-active-button-color) !important;
}

:global(.btn-secondary:focus) {
  border: 0 !important;
  background-color: var(--secondary-active-button-color) !important;
  box-shadow: none !important;
}

:global(.btn-secondary:active:focus) {
  border: 0 !important;
  background-color: var(--secondary-active-button-color) !important;
  box-shadow: none !important;
}

:global(.btn-info) {
  border: 0 !important;
  background-color: var(--info-button-color) !important;
  color: var(--color-text) !important;
}

:global(.btn-info:hover) {
  background-color: var(--info-active-button-color) !important;
}

:global(.btn-info:active) {
  background-color: var(--info-active-button-color) !important;
}

:global(.btn-info:focus) {
  border: 0 !important;
  background-color: var(--info-active-button-color) !important;
  box-shadow: none !important;
}

:global(.btn-info:active:focus) {
  border: 0 !important;
  background-color: var(--info-active-button-color) !important;
  box-shadow: none !important;
}

:global(.form-group) {
  margin-bottom: 0 !important;
}
