@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("MontserratBlack"),
    url("./fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("MontserratBold"),
    url("./fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("MontserratSemiBold"),
    url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("MontserratRegular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}
