.common {
  margin-top: 0;
  color: var(--color-text);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

.p {
  font-family: var(--color-text);
  font-size: var(--font-size-base);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-bottom: 0;
  font-family: var(--font-family-secondary);
  font-weight: bold;
}

.h1 {
  font-size: 3.8rem;
}

.h2 {
  font-size: 2.4rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.3rem;
}

.h5 {
  font-size: 1.2rem;
}

@media (min-width: 1900px) {
  .h1 {
    font-size: 5.4rem;
  }

  .h2 {
    font-size: 5.2rem;
  }

  .h3 {
    font-size: 3rem;
  }

  .h4 {
    font-size: 3.2rem;
  }

  .h5 {
    font-size: 15rem;
  }
}

.li {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
}

.span {
  font-family: var(--font-family-secondary);
  font-size: 14px;
}

.label {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
}

.statistic-title {
  font-size: 13px;
}

/** colors **/

.color-black {
  color: var(--color-text);
}

.color-white {
  color: var(--color-text-contrast);
}

.color-muted {
  color: var(--color-text-muted);
}

.color-gray {
  color: var(--color-gray);
}

.color-light-muted {
  color: var(--color-sidebar-links);
}

/** weights **/
.bold {
  font-weight: 700;
}

.normal {
  font-weight: 500;
}
