.container {
  padding: 20px;
  margin-top: -80px;
  background-color: var(--bg-color-admin-container);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.crm-branch-switch {
  z-index: var(--z-index-0) !important;
}
