.table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-header {
  background-color: var(--bg-color-admin-table-header);
}

.table-raw {
  background-color: transparent !important;
}

.table-raw td {
  max-width: 200px;
}
