.container {
  width: 100%;
}

.container-row {
  height: 100vh;
}

.container .left-side {
  padding: 56px;
}

.left-side-header {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.container .right-side {
  padding: 56px;
  background-color: var(--bg-color-horizontal2-screen-right-sidebar);
}

.right-side-header {
  display: flex;
  height: 70px;
  align-items: center;
}

.page-title {
  color: var(--color-gray);
  font-size: 40px;
  line-height: 40px;
}

.tickets-list-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

.tickets-list-header {
  display: flex;
  justify-content: space-around;
}

.ticket-list-header {
  font-family: var(--font-family-secondary);
  font-size: 2em;
  font-weight: 600;
}

.tickets-list-row .ticket-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px 20px 34px;
  margin: 15px 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: ticket-info;
  border-radius: 16px;
}

.arrow {
  position: absolute;
  right: 25%;
}

@keyframes ticket-info {
  0% {
    background-color: var(--bg-color-horizontal-screen-active-ticket-info);
  }

  50% {
    background-color: var(--bg-color-horizontal-screen-ticket-info);
  }

  100% {
    background-color: var(--bg-color-horizontal-screen-active-ticket-info);
  }
}

.ticket-info span {
  color: var(--color-text-default-screens-pages);
  font-family: var(--font-family-secondary);
  font-size: 3rem;
  font-weight: 700;
}

.ticket-card span {
  color: var(--color-text-default-screens-pages);
  font-family: var(--font-family-secondary);
  font-size: 2.5rem;
  font-weight: 700;
}

@media (min-width: 1900px) {
  .ticket-info span {
    font-family: var(--font-family-secondary);
    font-size: 4rem;
    font-weight: 700;
  }

  .ticket-card span {
    font-family: var(--font-family-secondary);
    font-size: 4rem;
    font-weight: 700;
  }

  .arrow {
    right: 35%;
  }

  .arrow svg {
    width: 150px;
    height: 150px;
  }
}
