.table-raw {
  background-color: transparent !important;
  cursor: none;
}

.table-raw:hover {
  cursor: pointer;
}

.table-active-raw:hover {
  cursor: default;
}

.desk-number-column {
  width: 75px;
}

.desk-number-input {
  min-width: 100px !important;
  height: calc(1.5em + 0.75rem + -7px) !important;
}

.active {
  background-color: var(--bg-color-admin-active-table-header) !important;
  color: var(--color-text-contrast);
}

.column {
  vertical-align: middle !important;
}
