.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(images/login-bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form-container {
  width: 60%;
  padding: 30px 40px;
  background-color: var(--color-background);
}
