.customer-phone-number-button {
  width: 130px;
  height: 90px;
  margin: 15px 5px;
  border-radius: 20px;
}

.customer-phone-number-button span {
  color: var(--color-text);
  font-size: 48px;
  font-weight: bold;
}
