.container {
  width: 100%;
}

.container-row {
  height: 100vh;
}

.container .left-side {
  padding: 120px 100px;
}

.fx-value {
  color: var(--color-text-default-screens-pages);
  font-family: var(--font-family-secondary);
  font-size: 4.625rem !important;
  font-weight: 700;
  line-height: 74px;
}

.page-title {
  color: var(--color-gray);
  font-size: 3rem;
  font-weight: 550;
  line-height: 48px;
}

.container .right-side {
  padding: 120px 80px;
  background-color: var(--bg-color-queue-page-container);
}

.tickets-list-row {
  margin-top: 40px;
}

.tickets-list-row .ticket-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 42px;
  margin-bottom: 12px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: ticket-info;
  border-radius: 16px;
}

.ticket-info span {
  color: var(--color-text-default-screens-pages);
  font-family: var(--font-family-secondary);
  font-size: 4.625rem !important;
  font-weight: 700;
  line-height: 74px;
}

@keyframes ticket-info {
  0% {
    background-color: var(--bg-color-horizontal-screen-active-ticket-info);
  }

  50% {
    background-color: var(--bg-color-horizontal-screen-ticket-info);
  }

  100% {
    background-color: var(--bg-color-horizontal-screen-active-ticket-info);
  }
}
