<!DOCTYPE html>
<html>

<head>
  <base href="/" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script crossorigin="anonymous"
    src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=es2015%2Ces2017%2Ces2016%2Cfetch%2CJSON"></script>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
</body>

</html>