.user-settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-settings-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.setting-card-header {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}
