.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headers-container {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

.subheader {
  margin-top: 50px;
  margin-bottom: 50px;
}

.redirect-buttons {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.redirect-buttons .redirect-button {
  position: relative;
  font-size: 35px;
}

.redirect-buttons .redirect-button:focus {
  box-shadow: none;
}

.redirect-buttons .redirect-button:hover .redirect-back-button-img,
.redirect-buttons .redirect-button:focus .redirect-back-button-img,
.redirect-buttons .redirect-button:active .redirect-back-button-img {
  fill: var(--back-redirect-active-button-color);
}

.redirect-buttons .redirect-button:hover .sent-button-img,
.redirect-buttons .redirect-button:focus .sent-button-img,
.redirect-buttons .redirect-button:active .sent-button-img {
  fill: var(--sent-active-button-color);
}

.back-redirect-button-text {
  position: absolute;
  top: 30px;
  left: 70px;
  color: var(--color-text);
  font-size: 32px;
}

.sent-button-text {
  position: absolute;
  top: 30px;
  left: 25px;
  color: var(--color-text-contrast);
  font-size: 32px;
}
