.container {
  display: flex;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 160px;
}

.actions .get-ticket-button {
  width: 75%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  width: 315px;
}

.description {
  display: flex;
  width: 100%;
  min-height: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.actions {
  display: flex;
  width: 100%;
  min-height: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.actions .btn-translator:focus {
  box-shadow: none;
}

.header {
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 64px;
  font-weight: 700;
}

.btn-text {
  color: var(--color-text-contrast);
  font-family: var(--font-family-secondary);
  font-size: 64px;
  font-weight: 700;
}

.btn-translator-text {
  margin-right: 25px;
  margin-left: 25px;
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 48px;
  font-weight: 700;
}

.button-content {
  display: flex;
  align-items: center;
}
