.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.branch-office-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1900px) {
  .branch-office-options .itemsList {
    padding: 0 50px;
    font-size: 6rem;
  }
}

.item {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1900px) {
  .item {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.arrow path {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  fill: var(--color-arrow);
}

@media (min-width: 1900px) {
  .arrow {
    width: 350px;
    height: 350px;
  }

  .branch-office-options .button {
    padding: 0 50px;
    font-size: 6rem;
  }
}

@keyframes arrow {
  0% {
    fill: var(--color-arrow);
  }
  50% {
    fill: var(--color-active-arrow);
  }
  100% {
    fill: var(--color-arrow);
  }
}

.tv-accepted-tickets-data {
  font-family: var(--font-family-secondary);
  font-size: 4rem;
  font-weight: bold;
}

.tv-tickets-pending-data {
  font-family: var(--font-family-secondary);
  font-size: 3rem;
  font-weight: bold;
}

@media (min-width: 1900px) {
  .tv-accepted-tickets-data {
    font-family: var(--font-family-secondary);
    font-size: 20rem;
  }

  .tv-tickets-pending-data {
    font-family: var(--font-family-secondary);
    font-size: 20rem;
  }
}
